
<div class="carousel-container">
  <!--Top Marquee for controls and info display-->
  <div class="carousel-controls">
    <div class="previous col-xs-2 col-sm-1" ng-click="previous()">
      <i class="fa fa-chevron-left fa-4x"></i>
    </div>

    <div class="info col-xs-8 col-sm-10">
      <div class="animated-slide" ng-class="direction" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="slide in slides">
        <h2>{{slide.name}}</h2>
        <p><span>{{slide.desc.en}}</span></p>
      </div>
    </div>

    <div class="next col-xs-2 col-sm-1" ng-click="next()">
      <i class="fa fa-chevron-right fa-4x pull-right"></i>
    </div>
  </div>

  <div class="carousel-img-container">
    <div class="bg-img" ng-class="direction" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" style="background-image: url('{{slide.images[0]}}')"></div>
  </div>
</div>